<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" href="style.css">
</head>
<body bgcolor="Yellow">
<img src="logo.jpeg" alt="LOGO", width="500" height="500", align="right">
	<header>
		<nav>
			<!-- navigation links -->
		</nav>
	</header>
	<main>
		<section class="about-us">
			<h1>About Us</h1>
			<p>Attendance Ease is a platform where we take attendance of college students and produce a weakly and monthly report using a Pie Chart. .</p>

			<div class="team-members">
				<div class="team-member"><br><br>
					<h2>RISHU SINGH </h2>
					<p>Founder & CEO</p>
				</div>
				<div class="team-member">
					<h2>ISHA RANAGRE </h2>
					<p>Co-Founder & CMO</p>
				</div>
			</div>
		</section>
	</main><br><br>
	<footer class="footer">
        <div class="container">
            <p class="contact-info">Contact Us: <a href="attendace.ease24@gmail.com">attendace.ease24@gmail.com</a><br><br>
				| Phone: +91- 7338129646</p>
        </div>
    </footer>
</body>
</html>
