
<!doctype html>
<html class="no-js" lang="zxx" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>Attendance Ease</title>
<meta name="description" content="" />
<meta name="keywords" content="" />



<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<link rel="icon" type="image/png" sizes="32x32" href="https://guardianonetransport.com/assets/frontend/img/favicon.png">
<link rel="stylesheet" href="https://guardianonetransport.com/assets/frontend/css/app.min.css">
<link rel="stylesheet" href="https://guardianonetransport.com/assets/frontend/css/fontawesome.min.css">
<link rel="stylesheet" href="https://guardianonetransport.com/assets/frontend/css/style.css">
<link rel="stylesheet" href="https://guardianonetransport.com/assets/frontend/css/responsive.css">


</head>
<body>

<div class="col-2 col-lg-auto col-xxl-8 d-flex justify-content-center">
                <div class="col-2 col-lg-auto col-xxl-8 d-flex justify-content-center">
                    <nav class="main-menu menu-style1 d-none d-lg-block">

                        <ul>
                            <img src="logo.jpeg" width="200" height="300"><li class="menu-item-has-children"><a href="about.html">About Us</a>

                            </li>



                                                                        <li class="menu-item-has-children"><a href="http://127.0.0.1:5000">Features</a>


                                    </li>



                                                                        <li class="menu-item-has-children"><a href="faqs.html">Faqs</a>



                                    </li>



                                                                        <li class="menu-item-has-children"><a href="Contact us.html">Contact us</a>

                                    </li>



                        </ul>
                    </nav>
                    <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                </div>
                <div class="col-xl-auto d-none d-xl-block align-self-center">
                    <div class="header-btn"> <a href="" target="_blank" class="vs-btn ms-3 d-none d-xl-inline-block">Chatbot<i class="fa fa-chevron-right"></i></a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-notice d-none d-md-block">

    </div>
    </div>

</header>


<div class="breadcumb-wrapper breadcumb-layout1 pt-175 pb-125"
     data-bg-src="https://guardianonetransport.com/uploads/features/file_5820_2479_4010.jpg" data-overlay="dark" data-opacity="2">
  <div class="container z-index-common">
    <div class="breadcumb-content">
      <h1 class="breadcumb-title sec-title text-white">Welcome to AttendanceEase Website</h1>
      <ul class="breadcumb-menu text-white pt-1">
          <li><a href=""><i class="far fa-home-lg"></i>Home</a></li>
          <li><a href="">Technology</a></li>
          <li class="active">smart attendance</li>
      </ul>
    </div>
  </div>
</div>



<br>
<br>
 <section class="about_area" id="about">
         <div class="container">
            <div class="sec_title">
               <u><center><h2>MORE ABOUT SMART ATTENDANCE APP</h2></center></u>
               <p>Take attendance in no time! The first ever automatic employee attendance tracker which is secured and fully monitored web-based system. </p>
            </div>

            <div class="row about_appsy_items">
               <div class="col-md-4">
                  <div class="about_appsy_item wow  fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                     <i class="ion-android-color-palette"></i>
<img src="ui.png" width=160 height=150/>
                     <h4>Creative UI Design</h4>
                     <p>The standard UI design including the factors related to user’s interaction with a particular environment or device. It’s also subjected and focused on user’s usability. </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="about_appsy_item wow  fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                     <i class="ion-code"></i>
<img src="code.jpg" width=90 height=80/>

                     <h4>Latest Code Standards</h4>
                     <p>Implemented by the latest code standards recommended. Standard programming style, practices, methods and each aspect of programming are used.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="about_appsy_item wow  fadeIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                     <i class="ion-android-phone-portrait"></i>
<img src="face.jpg" width=90 height=80/>
                     <h4>Face Recognition</h4>
                     <p>Face Recognition revolutionizes smart attendance ,offering seamless and secure identification for efficient record-keeping.  </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
<br>
<br>
<center>
      <section class="feature_area" id="feature">
         <sec class="container">
            <div class="sec_title">
               <u><h2>Amazing Features For Admin Panel</h2></u>
               <p>No more signatures! No more Manual attendance! No more Complications! Mark your attendance with the most advanced Attendance Software.</p>
            </div>
         </sec>
      </section>
</center>
            <div class="row feature_items">
               <div class="col-md-4 col-sm-6">
                  <div class="feature_item wow animated fadeInLeft" data-wow-delay="0.1s">
                     <div class="media">
                        <div class="media-left">
                           <img class="amaz-icon" src="http://smartattendanceapp.com/img/responsive.png"/>
                        </div>
                        <div class="media-body">
                           <h4>Fully Responsive Admin Panel</h4>
                           <p>Flexible Admin Panel and user friendly administrative interface to manage almost everything. Every employee consist of his/her own access to the back-end to see the previous records and history of their attendance and other activities.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div class="feature_item wow animated fadeInLeft" data-wow-delay="0.2s">
                     <div class="media">
                        <div class="media-left">
                           <img class="amaz-icon" src="http://smartattendanceapp.com/img/dashboard.png"/>
                        </div>
                        <div class="media-body">
                           <h4>Highly interactive Dashboard</h4>
                           <p>Easy-to-use administrative panel with a highly efficient dashboard that aims to provide a quick overview of the latest happenings and keep you updated about the status of the app.</p>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6">
                  <div class="feature_item wow animated fadeInLeft" data-wow-delay="0.4s">
                     <div class="media">
                        <div class="media-left">
                           <img class="amaz-icon" src="http://smartattendanceapp.com/img/report.png"/>
                        </div>
                        <div class="media-body">
                           <h4>Reporting Management</h4>
                           <p>The part of management that enables the admin to access and view the reports of the students activity of check-in and check-out on monthly and individually basis. </p>
                        </div>
                     </div>
                  </div>
               </div>
<center>
               <div class="col-md-4 col-sm-6">
                  <div class="feature_item wow animated fadeInLeft" data-wow-delay="0.5s">
                     <div class="media">
                        <div class="media-left">
                           <img class="amaz-icon" src="http://smartattendanceapp.com/img/user.png"/>
                        </div>
                        <div class="media-body">
                           <h4>User Management</h4>
                           <p>User management consist of students and their profiles accordingly. Add new student or edit details of profile and take any action from back-end.</p>
                        </div>
                     </div>
                  </div>
               </div>
</center>

      </div>
<footer class="footer-wrapper footer-layout1">
    <div class="widget-area pt-100 pb-50">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-xl-4">
                    <div class="widget footer-widget"> <img src=""
                                                            alt="">
                        <div class="vs-widget-about">
                            <p class="widget-about-text mb-25 pe-xl-5">keeping track of attendance while engagingstudents in the classroom may be tough,especially when the class is big.<br>
to address this problem and maintain track of students\attendance,we presented a smart attendance capturing mobile website using face recognition.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <div class="pt-2 footer-link">
                            <ul>
                                <li><a href="">Home</a></li>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Contact Us</a></li>

								 <li><a href="">Terms Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Contact us</h3>
                        <div class="pt-2">



                            <ul id="footer-address">


                                                                    <li id="envelope-icon"><a style="color: #fff" href="Attendance ease.com" > Attendease@gmail.com</a></li>




                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-style1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <button type="button" class="footer-scroll scrollToTop"><i class="far fa-angle-up"></i></button>
                </div>
                <div class="col-md-8 col-lg-6 text-center text-md-start">
                    <p class="py-2 py-md-0 mb-0">
                         Copyright © 2024
                        <a class="text-white me-1" href="" target="_blank">Attendance ease app</a>

                         | All rights reserved worldwide.                    </p>
                </div>
                <div class="col-md-4 col-lg-6 text-end d-none d-md-block">
                    <div class="footer-social-area">
                        <ul>


<script src="https://guardianonetransport.com/assets/frontend/js/vendor/jquery-1.12.4.min.js"></script>
<script src="https://guardianonetransport.com/assets/frontend/js/app.min.js"></script>
<script src="https://guardianonetransport.com/assets/frontend/js/vscustom-carousel.min.js"></script>
<script src="https://guardianonetransport.com/assets/frontend/js/main.js"></script>





                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>












</body>
</html>